.carregando {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
}

.spinner {
    padding: 10px;
    border: 10px solid rgb(0, 109, 199);
    border-top: 10px solid rgb(235, 159, 19);
    border-radius: 100%;
}

@media (prefers-reduced-motion: no-preference) {
    .spinner {
        animation: spii infinite 1s linear;
    }
}

@keyframes spii {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

hr{
    margin-left:2%;
    margin-right: 2%;
    border:1px solid #d5d9df!important;
   
}